

/*==================================================
 * BASE STYLES
 ==================================================*/

body,html {
	margin:0 auto;
	background:#efefef;
	font:12px/1.4 "Lucida Grande", Verdana, sans-serif;
}


/*==================================================
 * Layout
 ==================================================*/
 
.layout-container{
    max-width:980px;
	margin:0 auto;
	padding: 0px 0 0px  0;
	background: #fff;
    box-shadow: 0px 5px 20px #d0d0d0;
	}
	
	.layout-content{
		width:97.5%;
		height:auto;
		padding:0px 0 0 25px;
	}
	
	.layout-content > .item > h1 {
		font-size:15px;
		font-weight:600;
		text-transform:uppercase;
		color:#91734D;
	}
		.layout-content > .item > h1:hover {
		color:#000;
	}
	.layout-content > .item{
		width:200px;
		float:left;
		display:inline-flex;
		padding:15px;
	}
	
		.layout-content > .item > img{
		  width:100%;		
	}
.layout-content > .item > img:hover{
	opacity: 0.7;
    filter: alpha(opacity=70);
}
	.layout-footer{
		width:99%;
		height:150px;
		background:#000;
		padding:5px;
	}

.layout-feature{
	width:100%;
	margin-top:80px;
}

.layout-feature > img{
	 width:100%;
}

.layout-navbar{
 background-color: #fff;
    position:fixed;
    top:0;
    width:980px;
    z-index:100;
	height:80px;
 right: 0;
    left: 0;
	    margin-right: auto;
    margin-left: auto;
}



/* jssor slider bullet navigator skin 05 css */
                /*
                .jssorb05 div           (normal)
                .jssorb05 div:hover     (normal mouseover)
                .jssorb05 .av           (active)
                .jssorb05 .av:hover     (active mouseover)
                .jssorb05 .dn           (mousedown)
                */
                .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
                    background: url(slider/img/b05.png) no-repeat;
                    overflow: hidden;
                    cursor: pointer;
                }

                .jssorb05 div {
                    background-position: -7px -7px;
                }

                    .jssorb05 div:hover, .jssorb05 .av:hover {
                        background-position: -37px -7px;
                    }

                .jssorb05 .av {
                    background-position: -67px -7px;
                }

                .jssorb05 .dn, .jssorb05 .dn:hover {
                    background-position: -97px -7px;
                }
                /* jssor slider arrow navigator skin 11 css */
                /*
                .jssora11l              (normal)
                .jssora11r              (normal)
                .jssora11l:hover        (normal mouseover)
                .jssora11r:hover        (normal mouseover)
                .jssora11ldn            (mousedown)
                .jssora11rdn            (mousedown)
                */
                .jssora11l, .jssora11r, .jssora11ldn, .jssora11rdn {
                    position: absolute;
                    cursor: pointer;
                    display: block;
                    background: url(slider/img/a11.png) no-repeat;
                    overflow: hidden;
                }

                .jssora11l {
                    background-position: -11px -41px;
                }

                .jssora11r {
                    background-position: -71px -41px;
                }

                .jssora11l:hover {
                    background-position: -131px -41px;
                }

                .jssora11r:hover {
                    background-position: -191px -41px;
                }

                .jssora11ldn {
                    background-position: -251px -41px;
                }

                .jssora11rdn {
                    background-position: -311px -41px;
                }

